.modal-title {
  line-height: 1.2;
}

// *************************************************
// Modal fixes
.nao-modal-backdrop {
  background-color: var(--text-7);
  opacity: 0.25;
}

.modal-backdrop.show {
  opacity: 0.25 !important;
}

// Modal full screen
.nao-full-screen-modal > .modal-dialog {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  top: 0;
  left: 0;

  .modal-content {
    border-radius: 0;
  }
}

.max-vw-100 {
  max-width: calc(100vw - (100vw - 100%)) !important;
}

// *************************************************
// * Modals sizes
.modal-md {
  max-width: 430px !important;

  .modal-content {
    max-width: 430px;
  }
}

// Modal base
.nao-modal {

  .modal-title {
    font-weight: $font-weight-semibold;
  }

  .modal-subtitle {
    margin-bottom: 0;
    font-weight: $font-weight-lighter;
  }

  .modal-header {
    padding: pixelToRem(15px) pixelToRem(20px);
    font-size: pixelToRem(20px);
    min-height: 73px;
    color: var(--text-primary);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(15px);
    }
  }

  .modal-body {
    padding: pixelToRem(15px) pixelToRem(20px);
    color: var(--text-primary-light);
    font-size: pixelToRem(14px);

    .form-control {
      &:focus, &:active {
        box-shadow: none;
      }
    }

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(20px) pixelToRem(15px) pixelToRem(20px);
    }
  }

  .modal-footer {
    padding: pixelToRem(15px) pixelToRem(30px);

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(20px);
    }
  }
}

// *************************************************
// Nao modal 1
.nao-modal-1 {

  .modal-body {

  }
}

// *************************************************
// Nao modal 2
.nao-modal-2 {
  .modal-title {
    //margin-bottom: 3px;
  }

  .modal-body {
    background-color: var(--bg-3);

    .nao-icon-information {
      font-size: pixelToRem(17px);
      line-height: 9px;
      margin-top: 2px;
    }
  }
}

// *************************************************
// Nao modal form
.nao-modal-form {
  .modal-header {
    padding: pixelToRem(15px) pixelToRem(40px);
    font-size: pixelToRem(20px);
    min-height: 73px;
    color: var(--text-primary);

    .modal-title {
      font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-down(xs) {
      padding: pixelToRem(15px) pixelToRem(15px);
    }
  }

  .modal-body {
    color: var(--text-primary-light);
  }

  .modal-footer {
    padding: pixelToRem(20px) pixelToRem(30px);
  }
}


// *************************************************
// * Modals full screen
.nao-modal-fs-content {
  min-height: 100vh;
  border-radius: 0;
  padding-top: 60px;
  position: relative;

  .nao-modal-header {
    height: 60px;
    border-bottom: solid 1px var(--bg-2);
    line-height: 1;
    padding: 5px 30px 5px 15px;
    font-size: pixelToRem(16px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1051;

    .nao-cancel-btn {
      padding: 5px !important;
      // position fix
      margin-top: 1px;

      i {
        font-size: 13px;
      }
    }

    .vertical-separator {
      margin-right: 20px;
      margin-left: 15px;
      height: 16px;
      border-left: solid 1px var(--text-7);
    }
  }

  .nao-modal-body {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
  }
}

.nao-modal-fs-content-2 {
  min-height: 100vh;
  border-radius: 0;
  padding-top: 60px;
  position: relative;

  // header sizes
  .nao-modal-header-md { max-width: 665px; }
  .nao-modal-header-lg { max-width: 1150px; }

  .nao-modal-header {
    height: 60px;
    border-bottom: solid 1px var(--bg-2);
    line-height: 1;
    // 37px padding-right fixes a bug with padding + scrollbar width
    padding: 5px 37px 5px 15px;
    font-size: pixelToRem(16px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1051;

    .nao-back-btn-container {
      min-width: 70px;
    }
  }

  .nao-modal-body {
    max-width: 1422px;
    margin: 0 auto;
    width: 100%;
  }
}
