<div class="nao-modal-fs-content-2 d-flex flex-column bg-3">
  <!--Modal header-->
  <div class="nao-modal-header d-flex align-items-center bg-white">
    <!--Back button-->
    <div class="nao-back-btn-container">
      <button type="button" (click)="dismiss()" class="btn btn-simple-dark-blue min-width-0">Back</button>
    </div>

    <!--Info and pdf actions-->
    <div class="d-flex align-items-center mx-auto w-100 nao-modal-header-md">
        <span class="pr-40 font-size-18 font-weight-semibold">
          Elon Musk Invoice
      </span>

      <button type="button" class="btn btn-simple-dark-blue btn-sm ml-auto">
        Download pdf
      </button>

      <!--Price and currency-->
      <span class="pl-30 font-size-18 ">29600$</span>


    </div>

    <!--Fixes Centering the info-->
    <div class="nao-back-btn-container">
    </div>

  </div>

  <!--Modal body-->
  <div class="nao-modal-body d-flex flex-grow-1">
    <div class="text-center p-20 w-100">
      Content
    </div>

  </div>
</div>
