<div class="nao-docs-wrapper">
  <div class="elements-container">
    <h1 class="title">Borders</h1>
    <p class="description">
    </p>

    <div class="elem-container">
      <h2 class="title">Border based on grid breakpoints notation</h2>
      <p>Spacing utilities that apply to all breakpoints, from <code>xs</code> to <code>xl</code>, have no breakpoint
        abbreviation in them. This
        is because those classes are applied from <code>min-width: 0</code> and up, and thus are not bound by a media
        query. The
        remaining breakpoints, however, do include a breakpoint abbreviation.</p>
      <p>The classes are named using the format <code>border-[sides]-[breakpoint]-[property]</code> for <code>xs</code>,
        for <code>sm</code>, <code>md</code>, <code>lg</code>, and
        <code>xl</code>.</p>
      <p>Where sides is one of:</p>
      <ul>
        <li><code>top</code> - for classes that set <code>border-top</code></li>
        <li><code>right</code> - for classes that set <code>border-bottom</code></li>
        <li><code>bottom</code> - for classes that set <code>border-left</code></li>
        <li><code>left</code> - for classes that set <code>border-right</code></li>
      </ul>
      <p>Where breakpoint is one of:</p>
      <ul>
        <li><code>xs</code> - for classes that sets the border for devices > xs</li>
        <li><code>sm</code> - for classes that sets the border for devices > sm</li>
        <li><code>md</code> - for classes that sets the border for devices > md</li>
        <li><code>lg</code> - for classes that sets the border for devices > lg</li>
        <li><code>xl</code> - for classes that sets the border for devices > xl</li>
      </ul>
      <p>Where property is one of:</p>
      <ul>
        <li><code>1</code> - for classes that sets the border to 1</li>
        <li><code>0</code> - for classes that sets the border to 0</li>
      </ul>

      <p>All the <code>.border-right-* </code> <code>.border-left-*</code> classes are <strong>RTL</strong> ready (the borders are flipping on the
        RTL version, for example: <code>.border-right-lg-1</code> would have <code>border-left: 1 solid;</code> insted of <code>border-right: 1 solid;</code>).</p>
    </div>

    <div class="elem-container">
      <h2 class="title">Borders custom colors</h2>
      <ul>
        <li><code>border-bg-1</code> - for classes that sets the color to <code>var(--bg-1)</code></li>
        <li><code>border-bg-2</code> - for classes that sets the color to <code>var(--bg-2)</code></li>
        <li><code>border-text-6</code> - for classes that sets the color to <code>var(--text-6)</code></li>
      </ul>
    </div>



  </div>
</div>
